<ion-menu contentId="main-content">

  <ion-header>

    <ion-toolbar>

      <ion-title>
        Vehicle Service
      </ion-title>

    </ion-toolbar>

  </ion-header>

  <ion-content>

    <ion-list lines="none">

      <ion-item routerLink="/dashboard">

        <ion-icon
          name="grid-outline"
          slot="start">
        </ion-icon>

        <ion-label>
          Dashboard
        </ion-label>

      </ion-item>

      <ion-item routerLink="/vehicles">

        <ion-icon
          name="car-outline"
          slot="start">
        </ion-icon>

        <ion-label>
          Vehicles
        </ion-label>

      </ion-item>

      <ion-item routerLink="/issues">

        <ion-icon
          name="warning-outline"
          slot="start">
        </ion-icon>

        <ion-label>
          Issues
        </ion-label>

      </ion-item>

      <ion-item routerLink="/invoices">

        <ion-icon
          name="receipt-outline"
          slot="start">
        </ion-icon>

        <ion-label>
          Invoices
        </ion-label>

      </ion-item>

      <ion-item routerLink="/revenue">

        <ion-icon
          name="bar-chart-outline"
          slot="start">
        </ion-icon>

        <ion-label>
          Revenue
        </ion-label>

      </ion-item>

    </ion-list>

  </ion-content>

</ion-menu>